{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {{ user.first_name }} {{ user.last_name }}'s Profile
</h1>
<p>Current score : <span class="has-text-weight-bold">{{ user.score }}</span></p>
{% if matches %}
<br>
<div class="columns is-centered">
    <div class="column box is-narrow">
        <h2 class="is-black  is-size-3">Match history</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Outcome</th>
                    <th>Opponent</th>
                    <th>ELO movement</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>

                {% for match in matches | reverse %}
                <tr>

                    <th>
                        {% if match.elo_movement >0 %}
                        Victory
                        {% else %}
                        Defeat
                        {% endif %}
                    </th>
                    <td>{{ match.opponent.link | safe }}</td>
                    <td>
                        {% if match.elo_movement >=0%}
                        <span class="has-text-success">{{ match.elo_movement}}</span>
                        {% else %}
                        <span class="has-text-danger">{{ match.elo_movement }}</span>
                        {%endif%}
                    </td>
                    <td>{{ match.timestamp }}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
</div>
</div>
{% endif%}
{% endblock %}